.other {
  background: rgb(224, 222, 222);
  width: 80%;
  margin: 0 auto;
  height: calc(100vh - 100px);
  font-family: 隶书, serif;
  .otherContentList {
    font-size: 28px;
    padding: 20px;
    border-bottom: 1px solid #ccc;
  }
  .title {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
  }
}
